@using Microsoft.AspNetCore.Identity
@using PhoneStore.Core.Domain;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhoneStore</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://kendo.cdn.telerik.com/2021.1.330/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/jquery.min.js"></script>

    @* Add the Kendo UI scripts: *@
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.aspnetmvc.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <header>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">PhoneStore</a>
                        @if (!SignInManager.IsSignedIn(User) || (SignInManager.IsSignedIn(User) && !User.IsInRole(UserRoles.Admin)))
	                    {
                            <form asp-action="RegisterAdmin" asp-controller="Account" method="post">
                                <button type="submit">Register Admin</button>
                            </form>
	                    }
                    </div>
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <a style="color:fff" asp-controller="Customer" asp-action="ProductList">@User.Identity.Name</a>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <span class="glyphicon glyphicon-off"></span> <input type="submit" value="Logout" />
                                </form>
                            </li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                            <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }
                    </ul>
                </div>
            </header>
        </div>
    </nav>
    <div class="container bootdey">
        @await Html.PartialAsync("Notification.cshtml")
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);">
        <div class="container">
            &copy; 2021 - PhoneStore
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
